/*noinspection ALL*/
.cell {
    -fx-min-height: 75;
    -fx-min-width: 75;
    -fx-alignment: center;
}

#lightCell {
    -fx-background-color: #EEEED2;
}

#darkCell {
    -fx-background-color: #769656;
}

#checkedCell {
    -fx-background-color: #e34a40;
}

#movementIndicator {
    -fx-opacity: 0.75;
    -fx-fill: darkgrey;
}

#rightMenuVbox {
    -fx-background-color: #272522;
    -fx-alignment: center;
    -fx-min-width: 25;
    -fx-padding: 20;
}

#timeLabel {
    -fx-text-fill: white;
    -fx-font-size: 45;
    -fx-font-weight: bold;
}