.cell {
    -fx-min-height: 75;
    -fx-min-width: 75;
    -fx-alignment: center;
}

#lightCell {
    -fx-background-color: #EEEED2;
}

#darkCell {
    -fx-background-color: #769656;
}

#movementIndicator {
    -fx-opacity: 0.75;
    -fx-fill: darkgrey;
}