#vbox {
    -fx-pref-width: 600;
    -fx-pref-height: 600;
    -fx-alignment: center;
    -fx-spacing: 24
}

#btn {
    -fx-pref-height: 75;
    -fx-pref-width: 120;
}

#title {
    -fx-font-weight: bold;
    -fx-font-size: 36;
}

#moveLabel {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-padding: 15;
}

#moveHBox {
    -fx-pref-height: 30;
    -fx-pref-width: inherit;
    -fx-alignment: center;
}